<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Kontakt.jpg');">
    
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <h2 class="title" [ngClass]="isDesktopDevice ? 'col-12': 'col-12 mx-auto text-center'">Kontakt</h2>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                    Adresa <br>
                    Željeznička br 30. 71210 Sarajevo, Bosna i Hercegovina <br> <br>

                    Telefon <br>
                    +387 61 651 756 
                    </h5>
            </div>
        </div>
    </div>
</div>
