<div class="modal-header">
    <h1 class="modal-title" style="color: #000000;; text-align: center;">Dodaj Ponudu</h1>
    <button style="background-color: #ffffff;" type="button" class="close" data-dismiss="modal" (click)="activeModal.close()">
      <span style="color: #000000;" aria-hidden="true">&times;</span>
    </button>
   </div>
    <div class="modal-body">
      <div class="row justify-content-center mt-4">
        <div class="col-12">
          <form action="">

            
          </form>
        </div>
          
      </div>
    </div>
  
