<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Onama.jpg');">
    
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <h2 class="title" [ngClass]="isDesktopDevice ? 'col-12': 'col-12 mx-auto text-center'">O nama</h2>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                    Vulkanizerska radnja “Omar osnovana je 24.04.2021 godine.
                    Naš život je počeo kao vulkanizerska radnja za servisiranje automobila. <br> 
                    Međutim, kako se posao sve više razvijao, odlučili smo da se počnemo baviti i nabavkom autoguma. 
                    Uz nabavku i prodaju autoguma, vršimo montiranje i balansiranje sa najsavremenijim mašinama. <br>
                    Trenutno radimo na dvije lokacije, naš glavni prostor i sjedište na općini Ilidža i druga lokacija
                    otvorena u naselju Nedžarići u blizini Kralj Fahda.
                    </h5>
            </div>

            <div class="row mt-5">
                <h2 class="title" [ngClass]="isDesktopDevice ? 'col-12': 'col-12 mx-auto text-center'">Usluge</h2>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                    Naša vulkanizerska radnja svojim mušterijama nudi sljedeće usluge:
                </h5>
            </div>

            <div class="row mt-5">
                <img [ngClass]="isDesktopDevice ? 'col-6': 'col-12 mx-auto'" src="assets/img/MaliServis.jpg">
                <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'"><b>Mali Servis</b></h4>
            </div>

            <div class="row mt-5">
                <img [ngClass]="isDesktopDevice ? 'col-6': 'col-12 mx-auto'" src="assets/img/MontiranjeGuma.jpg">
                <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'"><b>Montiranje i demontiranje guma</b></h4>
            </div>


            <div class="row mt-5">
                <img [ngClass]="isDesktopDevice ? 'col-6': 'col-12 mx-auto'" src="assets/img/BalansiranjeGuma.jpg">
                <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'"><b>Balansiranje guma</b></h4>
            </div>

            <div class="row mt-5">
                <img [ngClass]="isDesktopDevice ? 'col-6': 'col-12 mx-auto'" src="assets/img/ProdajaGuma.jpg">
                <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'"><b>Prodaja guma</b></h4>
            </div>

            <div class="row  mt-5">
                <h2 class="title" [ngClass]="isDesktopDevice ? 'col-12': 'col-12 mx-auto text-center'">Radno vrijeme</h2>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                    Ponedjeljak-Subota: 08:00 - 19:00 <br>
                    Nedjelja i praznici neradni
                </h5>
            </div>
            
        </div>
    </div>
</div>
