<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Prodaje.jpg');">
    
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <h2 class="title" [ngClass]="isDesktopDevice ? 'col-12': 'col-12 mx-auto text-center'">Ponude</h2>
            </div>

            <div class="row">
                <button class="btn btn-info btn-round btn-lg" type="button">Dodaj ponudu</button>
            </div>



            <div class="row" *ngFor="let item of (this.getArticlesObservable | async); let i = index">
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 mx-auto text-center'">{{item.name}}</h4>
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 mx-auto text-center'">{{item.media}}</h4>
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 mx-auto text-center'">{{item.price}} KM</h4>
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 mx-auto text-center'">Na stanju: {{item.amount}}</h4>
 
            </div>

            <div class="row mt-5">
                <img [ngClass]="isDesktopDevice ? 'col-6': 'col-12 mx-auto'" src="assets/img/MaliServis.jpg">
                <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'"><b>Mali Servis</b></h4>
            </div>

            <div class="row mt-5">
                <img [ngClass]="isDesktopDevice ? 'col-6': 'col-12 mx-auto'" src="assets/img/MontiranjeGuma.jpg">
                <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'"><b>Montiranje i demontiranje guma</b></h4>
            </div>


            <div class="row mt-5">
                <img [ngClass]="isDesktopDevice ? 'col-6': 'col-12 mx-auto'" src="assets/img/BalansiranjeGuma.jpg">
                <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'"><b>Balansiranje guma</b></h4>
            </div>

            <div class="row mt-5">
                <img [ngClass]="isDesktopDevice ? 'col-6': 'col-12 mx-auto'" src="assets/img/ProdajaGuma.jpg">
                <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'"><b>Prodaja guma</b></h4>
            </div>
            
        </div>
    </div>
</div>
