<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Prodaje.jpg');">
    
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <h2 class="title" [ngClass]="isDesktopDevice ? 'col-12': 'col-12 mx-auto text-center'">Ponude</h2>
            </div>

            <div class="row mt-5" *ngFor="let item of (this.getArticlesObservable | async); let i = index">
                <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">{{item.name}}</h4>
                <img [ngClass]="isDesktopDevice ? 'col-4': 'col-7 mx-auto text-center'" src="{{item.media}}"> 
                <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">{{item.price}} KM</h4>
                <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">Na stanju: {{item.amount}}</h4>
            </div>
            
        </div>
    </div>
</div>
