<div class="wrapper">
  <div class="page-header clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/Pozadina.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <h3 style="font-weight:bold;">Dobro došli u <br> Vulkanizersku radnju "Omar"</h3>

            <div class="col-12">
              <div class="arrow-container">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
              </div>
          </div>
              
          </div>

          
      </div>
  </div>

  <div class="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12  mt-5">
                  <h2 style="text-align: center;">Zima kuca na vrata, <br> 
                    od 01.11. obavezna zimska oprema</h2> 
                </div>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                    U periodu od 01.11.2022 do 01.04.2023 na teritoriji BiH zakonski je obavezno posjedovanje i 
                    korištenje zimske opreme, bez obzira na vremenske uslove. <br>
                    Pravilnik o saobraćaju u zimskim uvjetima propisuje obaveznu zimsku opremu. <br> 
                    Opremu koja podrazumijeva: <br> <br>
                   <b> 1. </b> Pneumatike za zimsku upotrebu (MS, M+S, M&S, Snow Winter i dr.) na svim točkovima vozila ili <br>
                   <b> 2. </b> Pneumatike za zimsku upotrebu (MS, M+S, M&S, Snow Winter i dr.) na pogonskim točkovima i lance za snijeg, 
                    odnosno druge uređaje za povećanje trakcije pripravne za postavljanje na najmanje dva pogonska točka ili <br>
                    <b>3.</b> Pneumatike za lјetnu upotrebu na svim točkovima s najmanjom dubinom profila od četiri milimetra i lance za snijeg, 
                    odnosno druge uređaje za povećanje trakcije pripravne za postavlјanje na najmanje dva pogonska točka. <br> <br>

                    Podsjećamo, u skladu sa članom 228. Zakona, ako ovlaštena osoba zatekne vozilo koje se kreće bez zimske opreme na 
                    dijelu ceste i u vrijeme kad je zimska oprema obavezna, naredit će vozaču da odmah prekine kretanje vozilom i otkloni
                    neispravnost, odnosno da upotrijebi zimsku opremu. Ako vozač ne postupi po naređenju, ovlaštena osoba (policajac)
                    isključit će vozilo iz saobraćaja i oduzeti potvrdu o registraciji vozila.
                </h5>
            </div>

            <div class="row justify-content-center">
                <img src="assets/img/3-najbolje-zimske-gume-u-2016.jpg" alt="">
            </div>

            <div class="row justify-content-center">
                <div class="col-12  mt-5">
                  <h2 style="text-align: center;">Prelazak na ljetne gume, <br> 
                    od 01.04.</h2> 
                </div>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                Kada krenu ljetni mjeseci, karakteristike zimskih guma više ne mogu pratiti temperaturnu razliku, 
                zato upravo ljetne gume, koje su tvrđe i čvršće pružaju mnogo bolje uslove i sigurniju vožnju.
                U ljetnim mjesecima sa zimskim gumama na vašem vozilu, put kočenja mogao bi se drastično produžiti.
                </h5>
            </div>

            <div class="row justify-content-center">
                <img src="assets/img/LjetneGume.jpg" alt="">
            </div>

            <div class="row mt-5">

            </div>

            <div class="row mt-5">

            </div>

            <div class="row mt-5">

            </div>
            
        </div>
  </div>
</div>
