<nav class="navbar navbar-expand-lg bg-info fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        
      </div>
        <div class="navbar-translate" style="text-align: center;">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
               <h5 style="font-weight:bold;">Vulkanizerska Radnja <br>  
                "Omar"</h5>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" >
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/index']">
                      <h5 style="font-weight:bold ;">Početna </h5>
                  </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link"[routerLink]="['/o-nama']">
                      <h5 style="font-weight:bold;">O nama</h5>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/ponude']">
                    <h5 style="font-weight:bold ;">Ponude</h5>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/kontakt']">
                    <h5 style="font-weight:bold ;">Kontakt</h5>
                  </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
