<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/profil.jpg') ;">
        </div>
        <div class="container">
            
            <div class="content-center mt-5"> 
                <h5 class="title">Vulkanizerska radnja "Omar"</h5>
                <h3 class="title mt-5">Omar Ahmetović</h3>
                <p class="category">Admin</p>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container ">
          <h3 class="title" style="text-align: center;">Ponude
          </h3>

          <div class="row">
            <button class="btn btn-info btn-round btn-lg mx-auto text-center" type="button" (click)="openDodajPonudu()">
            Dodaj ponudu</button>
        </div>

        <div class="row">
            <button class="btn btn-danger btn-round btn-lg mx-auto text-center" type="button" (click)="openObrisiPonudu()">
            Obriši ponudu</button>
        </div>

        <div class="row mt-5" *ngFor="let item of (this.getArticlesObservable | async); let i = index">
            <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">{{item.name}}</h4>
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'" src="{{item.media}}"> 
            <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">{{item.price}} KM</h4>
            <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">Na stanju: {{item.amount}}</h4>
            <h4 style="color: #ff3636;"> Obriši ponudu</h4>
            
        </div>
        
        <div class="row justify-content-center mt-5">

            <button class="btn btn-info btn-round btn-lg" type="button" (click)="logout()">Odjava</button>

        </div>


        </div>
    </div>
   
</div>

